
<div th:fragment="itemModalContent">
	<form id="itemSearchForm" method="get" onsubmit="itemSubmit(event)">
		<input type="text" id="itemModalSearch" class="modalInput" name="itemModalSearch" th:value="${itemModalSearch}">
		<button type="button" class="modalButton" onclick="itemSubmit(event)">검색</button>
		<ul th:each="item : ${items}">
			<li th:data-value="${item.item_no}" th:text="${item.item_name}" onclick="chooseItem(this)"></li>
		</ul>
	</form>
	<div class="pagination">
		<button th:data-value="${paging.startPage}" onclick="changeItemPage(this)"><<</button>
		<button th:data-value="${paging.CurrentPage - 1}" th:disabled="${items.first}" onclick="changeItemPage(this)">이전</button>
		<span th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
			<button th:data-value="${page}" th:text="${page}" th:disabled="${paging.currentPage eq page}"  th:classappend="${paging.currentPage eq page} ? 'bold disabled' : ''" onclick="changeItemPage(this)"></button>
		</span>
		<button th:data-value="${paging.CurrentPage + 1}" th:disabled="${items.Last}" onclick="changeItemPage(this)">다음</button>
		<button th:data-value="${paging.endPage}" onclick="changeItemPage(this)">>></button>
	</div>
</div>
<div th:fragment="storageModalContent">
	<form id="storageSearchForm" method="get" onsubmit="storageSubmit(event)">
		<input type="text" id="storageModalSearch" class="modalInput" name="storageModalSearch" th:value="${storageModalSearch}">
		<button type="button" class="modalButton" onclick="storageSubmit(event)">검색</button>
		<ul th:each="storage : ${storages}">
			<li th:data-value="${storage.storage_no}" th:text="${storage.storage_name}" onclick="chooseStorage(this)"></li>
		</ul>
	</form>
	<div class="pagination">
		<button th:data-value="${paging.startPage}" onclick="changeStoragePage(this)"><<</button>
		<button th:data-value="${paging.CurrentPage - 1}" th:disabled="${storages.first}" onclick="changeStoragePage(this)">이전</button>
		<span th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
			<button th:data-value="${page}" th:text="${page}" th:disabled="${paging.currentPage eq page}" th:classappend="${paging.currentPage eq page} ? 'bold disabled' : ''" onclick="changeStoragePage(this)"></button>
		</span>
		<button th:data-value="${paging.CurrentPage + 1}" th:disabled="${storages.Last}" onclick="changeStoragePage(this)">다음</button>
		<button th:data-value="${paging.endPage}" onclick="changeStoragePage(this)">>></button>
	</div>
</div>