<div th:fragment="modalContent" class="searchForm">
	
  <form id="searchForm"  method ="get" onsubmit="submitSearchForm(event)">
  	<div>
	  	<input type="text" id="searchInput" name="search" placeholder="검색어를 입력해주세요..." th:value="${search}" class="input searchBar" >
	  	<button type="submit" class="searchButton">검색</button>
  	</div>
  	<ul th:each="buyer : ${buyers}" class="list">
  		<li th:text = "${buyer.buyer_name}" th:data-value = "${buyer.buyerCode}"  onclick=chooseName(this)></li>
  	</ul>
  	
  </form>
	<div id="pagination" class="pagination">
		<button th:value="${1}"  onclick="changePage(this);" type="button"><<</button>
		<button type="button" onclick="changePage(this);" th:disabled	="${buyers.first}" th:value ="${paging.currentPage - 1}" >이전</button>
		<span th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
			<button type="button" th:value="${page}" th:text="${page}" th:disabled="${paging.currentPage eq page}"  th:classappend="${paging.currentPage eq page} ? 'bold disabled' : ''"onclick="changePage(this);"></button>
		</span>
		<button type="button" onclick="changePage(this);" th:disabled = "${buyers.last}" th:value="${paging.currentPage + 1}" >다음</button>
		<button type="button" th:value="${buyers.totalPages}" th onclick="changePage(this)">>></button>
	</div>
</div>