<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="content">
		<form action="/signup" method="post">
			<div class="left">
				<label>이름</label>
				<input type="text" required="required" name="user_name" class="input" maxlength="20">
			</div>
			<div class="left">
				<label>아이디</label>
				<input type="text" required="required" name="user_id" class="input" maxlength="50">
			</div>
			<div class="left">
				<label>비밀번호</label>
				<input type="password" required="required" name="user_password" class="input" id="password">
			</div>
			<div class="left">
				<label>비밀번호 확인</label>
				<input type="password" required="required" class="input" id="passwordCheck">
			</div>
			<div class="left">
				<label>이메일</label>
				<input type="email" required="required" name="user_email" class="input" maxlength="50">
			</div>
			<div class="left">
				<label>상호</label>
				<input type="text" list="buyerList" required="required" id="buyer" class="input"
				placeholder="목록에서 골라주세요..."  onclick=openModal(event) readonly="readonly">
				<input type="hidden" name="buyer_code" id="buyer_code_hidden">
			</div>
    	<div class="modal-background" id="modalBackground"></div>
			<div class="left">
				<label>보안코드</label>
				<input type="text" required="required" name="buyer_secure_code"  class="input" maxlength="10">
			</div>
			<button type="button" onclick="location.href='/'" class="confirm no">취소</button>
			<button type="submit" class="confirm yes">회원가입</button>
		</form>
		<div id="modal" class="modal" >
        <div>
            <button type="button"  onclick=closeModal() class="xButton">x</button>
            <div id="modalContent">
	           
            </div>
        </div>
    	</div>
	</div>
	<script type="text/javascript">
		let password = document.getElementById('password');
		let passwordCheck = document.getElementById('passwordCheck');
		let modal = document.getElementById("modal");
		let modalBackground = document.getElementById("modalBackground");
		
		function checkPassword() {
			if (password.value != passwordCheck.value) {
				passwordCheck.setCustomValidity('비밀번호가 일치하지 않습니다.');
			} else {
				passwordCheck.setCustomValidity('');
			}
		}
		
		function checkPasswordLength() {
			if (password.value.length < 4) {
				password.setCustomValidity('비밀번호는 4글자 이상이어야 합니다.');
			} else {
				password.setCustomValidity('');
			}
		}
		
		function openModal(event) {
			event.preventDefault();
			modal.style.display = "block";
			modalBackground.style.display = "block";
			loadModalContent('', 1);
		}
		
		function closeModal() {
			modal.style.display = "none";
			modalBackground.style.display = "none";
		}
		
		function chooseName(element) {
			let buyerName = element.textContent;
			let buyerCode = element.getAttribute('data-value');
			
			document.getElementById('buyer').value = buyerName;
			document.getElementById('buyer_code_hidden').value = buyerCode;
			closeModal();
		}
		
		function submitSearchForm(event) {
			event.preventDefault();
			
			let searchInput = document.getElementById('searchInput').value;
			let pageValue = 1;
			
			loadModalContent (searchInput, pageValue);
		}
		
		function loadModalContent (search, page) {
			fetch(`/signup/modal?search=${search}&page=${page}`)
				.then(response => response.text())
				.then (html => {
					document.getElementById('modalContent').innerHTML = html;
					modal.style.display = 'block';
					modalBackground.style.display = 'block';
				})
		}
		
		function changePage(element) {
			let searchInput = document.getElementById('searchInput').value || '';
			let page = element.value
			loadModalContent(searchInput, page);
		}
		
		password.onchange = checkPassword;
		password.onkeyup = checkPasswordLength;
		passwordCheck.onkeyup = checkPassword;
		
		
		
	</script>
</body>
</html>