<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<head>
<meta charset="UTF-8">
<title>수정 페이지</title>
<script
	src="https://cdn.tiny.cloud/1/nd8grynjd8268gdl5ya7l9blew0p9nql98thf7fre8azeeg6/tinymce/6/tinymce.min.js"></script>
<style type="text/css">
.board-list {
	margin: 0 auto;
	width: 1200px;
}

.board-list-content {
	margin: 100px;
}

.board-form {
	margin: 50px auto;
	width: 800px;
}

.form-board-content {
	width: 100%;
	height: 200px;
}
</style>	
</head>
<body>
	<div style="width: 310px; float: left;">
		<th:block th:replace="fragments/sidebar :: sidebarFragment" />
	</div>
	<div class="board-list">
		<div class="board-list-content">
			<div>
				<h3>게시글 수정</h3>
			</div>

			<div class="board-form">
				<form method="post" action="${context}community/board/writeAction"
					id="board_form">

					<div class="user" style="display: none">
						<input type="text" id="user_id" name="user_id"
							value="${ sessionScope.user.user_id }">
					</div>
					<div class="row my-2">
						<div class="mb-3">
                <label for="boardTitle">제목</label>
                <input type="text" class="form-control" id="boardTitle" name="boardTitle" placeholder="제목을 입력해 주세요">
            </div>
					</div>


					<div class="row my-2">
						<div class="col-2 fw-bolder">
							<label for="board_content">내용</label>
						</div>
						<div class="col">
							<textarea cols="79" rows="10" id="board_content"
								name="board_content" value="${ board_content}"></textarea>
						</div>
					</div>


					<!-- 버튼 -->
					<div class="row mt-5">
						<div class="col">
							<button type="button" class="btn btn-outline-info w-100 btn-lg"
								onclick="location.href='/board'">뒤로
								가기</button>
						</div>
						<div class="col">
							<button type="submit" class="btn btn-outline-info w-100 btn-lg">수정
								완료</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

</body>
<script>
	tinymce
			.init({
				selector : 'textarea',
				plugins : 'autolink code link autoresize paste contextmenu image preview',
				toolbar : 'undo redo | fintsizeselect | forecolor | bold italic strikethrough underline | alignleft aligncenter alignright alignjustify | tinycomments | bullist numlist outdent indent | link custom_image | code preview',
				fintsize_formats : '8px 10px 12px 14px 16px 18px 20px 22px 24px 26px 28px 30px 36px 40px 48px',
				tinycomments_mode : 'embedded',
				tinycomments_author : 'Author name',
				fullpage_default_font_size : "16px",
				paste_as_text : true,
				paste_data_images : true,
				branding : false,
				language : "ko_KR",
				menubar : false,
				min_height : 800,
				max_height : 800,
				content_style : 'body { text-align: center; }',

			});
</script>
<script>
document.getElementById('board_form').addEventListener('submit',
		function(e) {
			const content = tinymce.get('board_content').getContent();
			if (content === '') {
				e.preventDefault();
			}
		});
</script>
</html>