<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>거래처 관리</title>
	<link rel="shortcut icon" href="/img/layout/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/default-style.css">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<!-- api script -->
		<script>
			function simple4_execDaumPostcode() {
				document.getElementById('sample4_postcode').value = null;
	      document.getElementById("sample4_roadAddress").value = null;
	      document.getElementById("sample4_jibunAddress").value = null;
				
				new daum.Postcode({
					oncomplete: function (data) {
					const roadAddr = data.roadAddress;
					var extraRoadAddr = '';
					var expJibunAddr = data.autoRoadAddress + extraRoadAddr;
					
					if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	        	extraRoadAddr += data.bname;
	        }
					
					if(data.buildingName !== '' && data.apartment === 'Y'){
	        	extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	        }
					
					if(extraRoadAddr !== ''){
	        	extraRoadAddr = ' (' + extraRoadAddr + ')';
	        }
					
					if(data.autoRoadAddress) {
	        	var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
	        } else if(data.autoJibunAddress) {
	        	expJibunAddr = data.autoJibunAddress;
					}
					document.getElementById('sample4_postcode').value = data.zonecode;
	        document.getElementById("sample4_roadAddress").value = roadAddr;
	        document.getElementById("sample4_jibunAddress").value = expJibunAddr;
					
				}
			}).open();
			};
		</script>
  <style>
    .breadcrumb {
      width: 50%;
      height: 40px;
    }
    
    .menu-header {
      width: 100%;
      height: 70px;
      background-color: #fff;
      border-radius: 15px;
    }
    
    .menu-header .add-btn {
      background-color: #81CD28;
      width: 100px;
      height: 45px;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      margin: .7% .5%
    }
    
    .none-data-search {
      font-weight: bold;
      margin-left: 100px;
    }
    
    #dropdownDefaultButton {
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px 15px;
    }
    
    #dropdown {
      position: relative;
      width: 60px !important;
      top: -19px;
      left: 375px;
    }
    
    .search_input {
      border-radius: 25px;
      border: 1px solid gray;
      padding: 5px;
      width: 270px;
      font-size: .9rem;
      text-align: center;
      position: absolute;
      top: 125px;
      /*left: 74%;*/
      left: calc(100% - 450px);
    }
    
    .search_btn {
      padding: 5px 20px;
      background-color: #81CD28;
      color: #fff;
      font-weight: bold;
      border-radius: 15px;
      position: absolute;
      top: 125px;
      left: calc(100% - 170px);
    }
    
    .content-1 {
      background-color: #fff;
      width: 100%;
      min-height: 690px;
      text-align: center;
      font-weight: bold;
      font-size: 1.7rem;
    }
    
    .content-1 > table {
      margin-top: 15px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
    }
    
    thead {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      font-size: 1rem;
    }
    
    thead th {
      padding: 10px 0;
    }
    
    .content-1 tbody tr {
      font-weight: normal;
      font-size: 1rem;
      line-height: 3rem;
    }
    
    .content-1 tbody tr:nth-of-type(even) {
      background-color: #E6F5D4;
    }
    
    .pagination {
      position: relative;
      bottom: 0;
      left: 0;
    }
    
    .pagination a {
      font-weight: normal;
      font-size: 1.1rem;
    }
    
    .active a {
      font-weight: bold;
    }
		
		.detail-btn:hover {
			cursor: pointer;
			text-decoration: solid gray;
		}
		
		#crud-modal {
			left: 50%;
			top: 50%;
			transform: translate(-40%, -40%);
			width: 1200px;
		}
		
		#popup-modal {
			left: 50%;
			top: 50%;
			transform: translate(-25%, -40%);
		}
  
  </style>
	<script>
		function modalActive (e, buyerCode) {
			const target = document.querySelector('#crud-modal');
			const input_buyer_name = document.querySelector('input[name="buyerName"]');
			const input_buyer_agent = document.querySelector('input[name="buyerAgent"]');
			const input_buyer_number = document.querySelector('input[name="buyerNumber"]');
			const input_buyer_tel = document.querySelector('input[name="buyerTel"]');
			const input_buyer_address = document.querySelector('input[name="buyerAddress"]');
			const status_change_btn = document.querySelector('.status-change');
			const status_off_btn = document.querySelector('.status-off');
			const input_buyerCode = document.querySelector('.buyerCode');
			const input_secure_code = document.querySelector('input[name="buyerSecureCode"]');
      
      target.classList.remove('hidden');
      
			const reFetch = () => {
				fetch('/buyer/detail/' + buyerCode, {
					method: 'get',
					headers: {"Content-Type" : "application/json"}
				})
				.then(res => res.json())
				.then(data => {
					input_buyer_name.value = data.buyerName;
					input_buyer_agent.value = data.buyerAgent;
					input_buyer_number.value = data.buyerNumber;
					input_buyer_tel.value = data.buyerTel;
					input_buyer_address.value = data.buyerAddress;
					input_buyerCode.value = buyerCode;
          input_secure_code.value = data.buyerSecureCode;
					
					if (data.buyerStatus == 0) {
						status_change_btn.classList.add('hidden');
						status_off_btn.classList.remove('hidden');
					}
					
				});
			}
			
			reFetch ();
		}
		
		function modalDeActive () {
			document.querySelector('#crud-modal').classList.add('hidden');
			
			location.reload();
			
		}
	
		function status_update () {
      const input_buyer_name = document.querySelector('input[name="buyerName"]').value;
      const input_buyer_agent = document.querySelector('input[name="buyerAgent"]').value;
      const input_buyer_number = document.querySelector('input[name="buyerNumber"]').value;
      const input_buyer_tel = document.querySelector('input[name="buyerTel"]').value;
      const input_buyer_address = document.querySelector('input[name="buyerAddress"]').value;
      const input_buyerCode = document.querySelector('.buyerCode').value;
      const input_secure_code = document.querySelector('input[name="buyerSecureCode"]').value;
      
      const formData = new FormData();
      formData.append("buyerName", input_buyer_name);
      formData.append("buyerAgent", input_buyer_agent);
      formData.append("buyerNumber", input_buyer_number);
      formData.append("buyerTel", input_buyer_tel);
      formData.append("buyerAddress", input_buyer_address);
      formData.append("buyerCode", input_buyerCode);
      formData.append("buyerSecureCode", input_secure_code);
			
			fetch('/buyer/status-update', {
				method: 'post',
        body: formData
			})
			.then(res => res.json())
			.then(data => {
        popup_modal_deActive();
        modalActive (null, input_buyerCode);
      })
			.catch(err => console.log(err));
			
		}
		
		function popup_modal_active () {
			const popup_modal = document.querySelector('#popup-modal');
			
			popup_modal.classList.remove('hidden');
		}
		
		function popup_modal_deActive () {
			const popup_modal = document.querySelector('#popup-modal');
			
			popup_modal.classList.add('hidden');
		}
		
		function modifyBuyer () {
   
      if (confirm('해당 거래처를 수정하시겠습니까?')) {
        const input_buyer_name = document.querySelector('input[name="buyerName"]').value;
        const input_buyer_agent = document.querySelector('input[name="buyerAgent"]').value;
        const input_buyer_number = document.querySelector('input[name="buyerNumber"]').value;
        const input_buyer_tel = document.querySelector('input[name="buyerTel"]').value;
        const input_buyer_address = document.querySelector('input[name="buyerAddress"]').value;
        const input_buyerCode = document.querySelector('.buyerCode').value;
        
        const formData = new FormData();
        
        formData.append('buyerCode', input_buyerCode);
        formData.append('buyerAddress', input_buyer_address);
        formData.append('buyerTel', input_buyer_tel);
        formData.append('buyerNumber', input_buyer_number);
        formData.append('buyerAgent', input_buyer_agent);
        formData.append('buyerName', input_buyer_name);
        
        fetch('/buyer/modify', {
          method: 'post',
          body: formData
        })
          .then(res => {
            res.json();
            modalDeActive ();
            if (res.status.ok) {
              alert('거래처 수정이 완료되었습니다.');
              modalActive (null, input_buyerCode);
            }
          })
      }
			
		}
	</script>
</head>
<body>
	<div th:if="${message != null}">
		<script>
			alert('${message}');
		</script>
	</div>
  <div id="header-controller" style="width: 310px; float: left;">
    <th:block th:replace="~{fragments/sidebar :: sidebarFragment}"/>
  </div>
	<div id="content">
	  <div id="content_wrap">
	    <div class="breadcrumb">
				<a href="/main">
					<img src="/img/icon/icon-home-filled.png" alt="" style="display: inline; line-height: 40px;">
				</a>
	      &nbsp;
	      <span style="font-weight: bold; font-size: 1.2rem; color: #ababab; line-height: 40px;">&gt;</span>
	      &nbsp;
				<a href="/buyer/default/1?keyword=">
					<span style="color: #ababab; font-weight: bold;">거래처 관리</span>
				</a>
	      &nbsp;
	      <span style="font-weight: bold; font-size: 1.2rem; color: #ababab; line-height: 40px;">&gt;</span>
	      &nbsp;
	      <span style="font-weight: bold;">거래처 리스트</span>
	    </div>
	    <div class="menu-header">
	      <button type="button" class="add-btn"
								onclick="location.href='/buyer/add'"
				 >거래처 등록</button>
	      <span class="none-data-search">미사용 거래처 조회</span>
	      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" 
								class="relative font-medium rounded-lg text-sm px-5 py-2.5 text-center 
								inline-flex items-center" type="button">
								OFF &nbsp;
					<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" 
							 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
	      	</svg>
	      </button>
	      
	      <!-- Dropdown menu -->
	      <div id="dropdown" 
						 class="relative z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
	        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
	          <li>
	            <a th:href="|@{/buyer/default/1?keyword=}|"
								 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">OFF</a>
	          </li>
	          <li>
	            <a th:href="|@{/buyer/all/1?keyword=}|"
								 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">ON</a>
	          </li>
	        </ul>
	      </div>
	      
	      <form th:action="@{/buyer/{buyer_status}/1(buyer_status = ${buyer_status})}" class="inline" method="get">
	        <input type="text" name="keyword" placeholder="거래처명, 사업자번호를 입력하세요." class="search_input">
	        <input type="submit" value="조 회" class="search_btn">
	      </form>
	    </div>
	    <div class="content-1">
	      <table>
	        <thead>
	          <tr>
	            <th>거래처 번호</th>
	            <th>상호</th>
	            <th>대표자</th>
	            <th>전화번호</th>
	          </tr>
	        </thead>
	        <tbody>
						<tr th:if="${buyers.isEmpty()}">
							<td colspan="4">조회 결과가 존재하지 않습니다.</td>
						</tr>
	          <tr th:if="${buyers != null}" th:each="buyer, status: ${buyers}">
	            <td th:text="${buyer.buyerCode}"></td>
	            <td th:onclick="modalActive(this, [[${buyer.buyerCode}]])" th:text="${buyer.buyerName}" class="detail-btn">
	            </td>
	            <td th:text="${buyer.buyerAgent}"></td>
	            <td th:text="${buyer.buyerTel}"></td>
	          </tr>
	        </tbody>
	      </table>
	      <ul class="pagination justify-content-center inline">
	        <li class="page-item inline" th:classappend="${!buyers.hasPrevious} ? 'hidden'">
	          <a class="page-link" th:href="@{{page}?keyword={keyword}(page = ${page - 1}, keyword = ${param.keyword})}">
							&lt;&lt;
						</a>
	        </li>
	        <li th:each="page: ${#numbers.sequence(1, buyers.totalPages)}"
	            th:if="${page >= buyers.number-5 and page <= buyers.number+5}"
	            th:classappend="${page - 1 == buyers.number} ? 'active'"
	            class="page-item inline">
	          <a th:text="${page}" class="page-link"
							 th:href="@{{page}?keyword={keyword}(page = ${page}, keyword = ${param.keyword})}"></a>
	        </li>
	        <li class="page-item inline" th:classappend="${!buyers.hasNext} ? 'hidden'">
	          <a class="page-link" th:href="@{{page}?keyword={keyword}(page = ${page + 1}, keyword = ${param.keyword})}">
							&gt;&gt;
						</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</div>
	
	<!-- modal -->
	<div id="crud-modal" tabindex="-1" aria-hidden="true" 
			 class="hidden overflow-y-auto overflow-x-hidden fixed z-50 justify-center items-center max-h-full">
    <div class="relative p-4 w-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              거래처 수정
          </h3>
					<div class="ml-5">
						<button class="bg-yellow-400 py-1 px-3 text-white rounded-lg text-sm font-black hidden status-off">
							이미 폐업된 거래처입니다.
						</button>
						<button th:if="${session.admin != null}" 
										class="bg-red-500 py-1 px-3 text-white rounded-lg text-sm font-black status-change"
										onclick="popup_modal_active ()">폐업 처리</button>
						<button class="py-1 px-3 text-white rounded-lg text-sm font-black" style="background-color: #81CD28;" 
										onclick="modifyBuyer()">거래처 수정
						</button>
						<button class="bg-gray-300 py-1 px-3 text-black rounded-lg text-sm font-black" onclick="modalDeActive()">
							창닫기
						</button>
					</div>
        </div>
        <!-- Modal body -->
        <form class="p-4 md:p-5">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-3">
              <div class="inline float-left" style="width: 30%; margin-right: 30px; margin-left: 20px">
                <input type="text" class="buyerCode hidden">
                <label for="buyer_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상호명</label>
                <input type="text" name="buyerName" id="buyer_name"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600  
											 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
											 required="">
              </div>
              <div class="inline float-left" style="width: 30%; margin-right: 30px">
                <input type="text" class="buyerCode hidden">
                <label for="buyer_secure_code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
									보안코드
								</label>
                <input type="text" name="buyerSecureCode" id="buyer_secure_code"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 
											 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
											 required="">
              </div>
              <div class="inline float-left" style="width: 30%; margin-right: 30px">
                <label for="buyer_agent" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
									대표자
								</label>
                <input type="text" name="buyerAgent" id="buyer_agent"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 
											 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
											 required="">
              </div>
            </div>
						<div class="col-span-1">
						  <label for="buyer_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
								사업자 등록번호
							</label>
						  <input type="text" name="buyerNumber" id="buyer_number"
										 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 
										 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
										 required="">
						</div>
						<div class="col-span-1">
						  <label for="buyer_tel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">전화번호</label>
						  <input type="text" name="buyerTel" id="buyer_tel"
									 	 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 
										 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
										 required="">
						</div>
						<div class="col-span-2">
							<button type="button" onclick="simple4_execDaumPostcode()" style="background-color: #26973C;" 
											class="rounded-lg py-2 px-4 text-black text-white">주소 검색</button>
							<input type="text" name="mpost" 
										 id="sample4_postcode" readonly class="w-40 bg-gray-300 py-1 pl-2 rounded-lg text-black">
							<input type="text" id="sample4_jibunAddress" 
										 readonly class="w-9/12 bg-gray-300 py-1 pl-2 rounded-lg text-black">
						</div>
						<div class="col-span-2">
							<input type="text" id="sample4_roadAddress" 
										 readonly name="buyerAddress" class="w-full bg-gray-300 py-1 pl-2 rounded-lg text-black">
						</div>
          </div>
        </form>
      </div>
    </div>
	</div> 
	
	<!-- modal 2 -->
	<div id="popup-modal" tabindex="-1" 
			 class="hidden overflow-y-auto overflow-x-hidden fixed z-50 justify-center items-center max-h-full w-1/4">
    <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="p-4 md:p-5 text-center">
          <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" 
							 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" 
								  stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>
          <h3 class="mb-5 text-gray-500 dark:text-gray-400 py-5 text-lg">해당 거래처를 "<b>폐업</b>" 처리 하시겠습니까?</h3>
          <button type="button" 
									class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 
												 dark:focus:ring-red-800 font-medium rounded-lg 
												 text-sm inline-flex items-center px-5 py-2.5 text-center"
								  onclick="status_update ()">
            			확인
          </button>
          <button type="button" 
									class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border 
												 border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 
												 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 
												 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
								  onclick="popup_modal_deActive ()">
									취소
				  </button>
        </div>
      </div>
    </div>
	</div>

<script>
  const dropdownDefaultButton = document.querySelector('#dropdownDefaultButton');
  const dropdown = document.querySelector('#dropdown');
  
  dropdownDefaultButton.addEventListener('click', function (e) {
    const target = e.target;
    
    dropdown.classList.add('block');
    dropdown.classList.remove('hidden');
  });
  
  if (location.pathname.substring(7, 10) == 'def') {
    dropdownDefaultButton.innerHTML = `
                                        OFF &nbsp;
                                         <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
																				 						 fill="none" viewBox="0 0 10 6">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" 
																												stroke-width="2" d="m1 1 4 4 4-4"/>
                                        </svg>
                                        `;
  } else {
    dropdownDefaultButton.innerHTML = `
                                        ON &nbsp;
                                         <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
																				 						 fill="none" viewBox="0 0 10 6">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" 
																												stroke-width="2" d="m1 1 4 4 4-4"/>
                                        </svg>
                                        `;
  }
  
</script>
</body>
</html>
